@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body{
   font-family: 'Open Sans', sans-serif;
   background-color: #348cb2;
}

#main {
   position: absolute;
   top:0;
   bottom:0; 
   left: 0;
   right: 0;

   color: white;
   text-shadow: 2px 2px black;

   background:url("bg.jpg") bottom left;
   background-repeat: repeat-x;
   z-index: 1;
}

#bottom {
  
   min-height: 5vh;
   z-index: 0;
}

h1{
   margin: 0;
   padding: 0;
   font-size: 4em;
   font-weight: 900;
}

#header h3{
   margin: 0;
   padding: 0;
}

#nav ul {
   list-style-type: none;
 
   text-align: center;

   margin: 1em auto;
   padding: 0em 0.5em;
   display: table;
}

#nav li {
   display: inline-block;
   text-align:center;
   margin: 0.5em;
   
}

#listItem {
   background-color: rgba(34, 140, 178, 0.7);
   border: 1px solid white;
   border-radius: 15px;
   padding: 1em;
   transition: all 0.5s ease;
}

#nav {
   margin-top: 1.5em;
}

#nav a {
   color: white;
   font-family: 'Roboto', sans-serif;
   text-decoration: none;
}

#tools ul {
   list-style-type: none;

   margin: 1em auto;
   padding: 0em 0.5em;
   display: table;
}

#tools li{
   margin-top: 0.5em;
   padding: 0em;
}

#tools a{
   color: white;
   font-family: 'Roboto', sans-serif;
   text-decoration: none;
}

#listItem:hover {
   background-color: rgba(255, 255, 255, 0.7);
}

i {
   font-size: 2em;
}